.single-product-view-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    align-items: center;
}
.product-info {
    width: 50%;
    /* min-width: 250px; */
    p {
        color: #626262;
    }
}
.product-img-container {
    border-radius: 25px;
}
.product-img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);

    }
}
.product-img > img {
    max-width: 100%;
    /* min-width: 300px; */
    height: 600px;
    width: 400px;
    display: block;
    border-radius: 15px;
}

@media (max-width: 790px) {
    .single-product-view-container {
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }
    .product-info {
        width: 75%;
        /* min-width: 250px; */
    }
    .product-img > img {
        width: 300px;
    }
}