.heading-decorator {
    gap: 0.5rem;
    justify-content: start;
    hr {
        width: 30px;
    }
    p {
        color: red;
        font-weight: 200;
    }
    
}

@media (max-width: 550px) {
    .heading-decorator {
        justify-content: center;
    }
}