.about-us-banner {
    background: url("../../assets/about-us-ship.jpg");
    filter: blur(0.5px);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.about-us-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 61, 61, 0.5); /* Adjust the color and opacity as needed */
  }

.mv-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.mv-content {
    max-width: 550px;
    min-width: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.03);
    }
}

.why-choose-us-container {
    color: white;
}
.why-choose-us-cards {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.why-choose-us-card {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.03);
    }
}

@media (max-width: 762px) {
    .about-us-banner {
        height: 60vh;
    }
}