.footer-container {
    gap: 5rem;
    flex-wrap: wrap;
}
.social-icons {
    gap: 0.7rem;
}
.social-icons > img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.quick-links-footer-container > .quick-links-footer, .our-products-footer-container > .our-products-footer,
.our-products-footer > .our-products-footer-part-one, .our-products-footer > .our-products-footer-part-two {
    gap: 0.7rem;
}


@media (max-width: 762px) {
    .footer-container {
        gap: 2.5rem;
    }
}