.footer-container {
    gap: 5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(273deg, rgba(2, 0, 36, 1) 0%, rgba(207, 207, 207, 1) 0%, rgba(231, 231, 231, 1) 100%);
}

.social-icons {
    gap: 0.7rem;
}

.social-icons>img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.quick-links-footer-container>.quick-links-footer,
.our-products-footer-container>.our-products-footer,
.our-products-footer>.our-products-footer-part-one,
.our-products-footer>.our-products-footer-part-two {
    gap: 0.7rem;
}

.footer-contact-info>.psbr-logo {
    height: auto;
    max-width: 200px;
}

.quick-links-footer,.our-products-footer {
    align-items: start;
}

.psbr-logo-social {
  transition: all 0.1s ease; /* Smooth transition */
}


.facebook-icon {
    filter: invert(40%) sepia(20%) saturate(6868%) hue-rotate(200deg) brightness(93%) contrast(104%);
  }
  
  
  
  .instagram-icon {
    filter: invert(14%) sepia(45%) saturate(5670%) hue-rotate(297deg) brightness(85%) contrast(96%);
  }

@media (max-width: 762px) {
    .footer-container {
        gap: 2.5rem;
    }
}


@media (max-width: 500px) {
    .quick-links-footer,.our-products-footer {
        align-items: center;
    }
}