* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  background-color: #004A8D;
  /* color: black; */
}

.psbr-logo {
  height: auto;
  max-width: 160px;
}

.orange-text {
  color: orange;
  font-size: 50px;
  font-weight: 600;
}
p {
  color: white;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: orange;
  }
}