* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  /* color: black; */
}

.psbr-logo {
  height: auto;
  max-width: 160px;
}

.blue-text {
  color: #004A8D;
  font-size: 50px;
  font-weight: 600;
}
p {
  color: white;
  text-align: justify;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: orange;
  }
}

.pb-5 {
  padding-bottom: 150px!important;
}

.font-20-px {
  font-size: 20px;
}
.font-80-px {
  font-size: 80px;
}
.font-25-px {
  font-size: 25px;
}
.font-5 {
  font-size: 5rem;
}

.bg-dark-blue {
  background-color: #004A8D;
}

@media (max-width: 762px) {
  p {
    font-size: 16px;
  }
  
  .font-80-px {
    font-size: 48px;
  }
}

.form-control {
  &.error {
    border: 2px solid red;
  }
  
}