.banner-container {
    width: 100%;
    height: 85vh;
    background-image: url('../../assets/ship.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem;
    color: white;
    z-index: 1000;
    padding-right: 350px;
    
}

.banner-header {
    font-size: 3.5rem;
}


@media (max-width: 762px) {
    .banner-container {
        padding-right: 0;
    }
}